@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 5px 30px;
  font-family: "Poppins", sans-serif;
}
/* shared items */
.btn-primary {
  border-radius: 41px;
  background: #e02c6d;
  color: white;
  border: none;
}

/* header style  start */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu-container > ul {
  display: flex;
}
.menu-block{
  display: none;
}
.influencer-title {
  width: 582px;
  height: 133px;
  flex-shrink: 0;
  color: #3a3a3a;

  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
}
.influencer-description {
  width: 505px;
  height: 60.9px;
  flex-shrink: 0;
  color: #3a3a3a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.influencer-btn {
  margin-left: 30px;
}
.header-menu-container li {
  list-style: none;
  margin-right: -15px;
}
/* header style end  */

/* influencer-container style start */
.influencer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.influencer-image {
  background-image: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
}
.influencer-title {
  color: #3a3a3a;
  font-size: 45px;
  font-weight: 700;
}
/* company-logo style start */
.company-logo {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px 0px;
}
/* company-logo style end */

/* collection-container style start */
.collection-container {
  margin-top: 100px;
}

.collection-title {
  text-align: center;
  padding: 30px 0;
  color: #3a3a3a;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
}
.collection-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.box-item {
  width: 275px;
  height: 440px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}
.box-item-img {
  width: 300px;
  height: 256px;
  border-radius: 20px;
  object-fit: cover;
  margin: 0 auto;
  position: relative;
  left: -45px;
}
.box-item-short-descrip {
  width: 190px;
  font-size: 14px;
}

/* featured-container style start */
.featured-container {
  display: flex;
  align-items: center;
  margin-top: 100px;
  padding: 0 70px;
  gap: 100px;
}
.featured-title {
  color: #0a0826;

  font-size: 38px;
  font-style: normal;
  font-weight: 700;
}
.featured-description {
  width: 501px;
  height: 88px;
  color: #6c6c6c;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.featured-btn {
  border-radius: 0;
  padding: 10px 20px;
  font-size: 20px;
  margin-left: 30px;
}

/* influencer-footer style */
.influencer-footer {
  height: 40vh;
  background-color: #0A0826;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.footer-title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer-desc {
  color: #d9dbe1;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.footer-short {
  color: #d9dbe1;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.fa-brands{
  color: rgba(255, 255, 255, 1);
}


/* influencer-footer style  end */

/* responsive style  */

@media screen and (max-width:576px) {
  *{
    margin: 0;
    padding: 0;
  }
  .header-container,.header-menu-container > ul{
    flex-direction: column;  
  }
  .influencer-container{
    flex-direction: column-reverse;
    text-align: center;
    width: 400px;
    margin: 0 auto;
  }
  .company-logo{
   flex-direction: column;
   
 
  }
  .collection-items{
    grid-template-columns: repeat(1,1fr);
  }
  .featured-container{
    flex-direction: column-reverse;
    text-align: center;
    
  }
  .featured-description{
    width: 400px;
    font-size: 20px;
  }
  
 
}